/* Default values and global variables */
*{
    /* browser resets */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-gutter: stable;
    scrollbar-width: none;
    overscroll-behavior: auto;

    /* Global styling variables */

        /*colors*/
    --primaryBG: #FCF9F6;
    --secondaryBG: #FFCAA3;
    --primaryText: #2F2E2E;
    --secondaryText: #FF2A00;

        /*margins*/
    --bodyMargin: clamp(2rem,11vw,12rem);
    --maxScreenSize: 500px;


    /*Button size*/
    --base-size: clamp(2.5rem,5.8vw,7rem);

    /* Default animation settings*/
    --default-duration: 0.7s;

    transition: color var(--default-duration) ease, background-color var(--default-duration) ease;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    width: fit-content;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.slash { /*for forward slash spacing on UX/UI font*/
    display: inline;
    letter-spacing: clamp(1px, 0.5rem, 1rem);
}

ul {
    list-style: none;
}

/* IBM font*/
@font-face {
    font-family: "IBM Plex Sans";
    src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: ibmPlexSansLight;
    src: url(../../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
}

@font-face {
    font-family: ibmPlexSansBold;
    src: url(../../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}


/* Box and text set up*/
body {
    background-color: var(--primaryBG);
}

header {
    display: flex;
    justify-content: flex-end;
    margin-inline: clamp(2rem, 3.125vw,4rem);
    margin-top: clamp(1rem, 2.8vw, 3rem);
}

h1 {
    color: var(--primaryText);
    font: normal 700 clamp(2rem, 5.8vw, 7rem) Helvetica;
}

h2 {
    color: var(--primaryText);
    font: normal clamp(1rem,1.4vw,2rem) 'ibmPlexSansBold';
}

h3 {
    color: var(--primaryText);
    font: normal 700 clamp(2.5rem, 8vw, 12.5rem) Helvetica;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--secondaryText);

    @media (max-width: 715px) { /*adjustment on outline stroke width for smaller screens*/
        -webkit-text-stroke-width: 1px;
    }
    
}

h4 {
    font: normal 700 clamp(1rem, 1.8vw, 3rem) "IBM Plex Sans";
}

p {
    color: var(--primaryText);
    font: normal 300 clamp(1rem,1.4vw,2rem) "ibmPlexSansLight";
    line-height: clamp(1.3rem, 2vw ,2rem);
}


.subtext {
    font: normal 300 clamp(1rem,1.4vw,2rem) "ibmPlexSansLight";
    line-height: clamp(1.3rem, 2vw ,2rem);
}


/*body wrapper for all main content*/
.body-wrapper {

    padding-inline: var(--bodyMargin);
    padding-bottom: 10%;
    background-color: transparent;
    opacity: 0;
    transition: opacity var(--default-duration) ease-in-out;
    margin-top: calc(clamp(2.5rem, 4.7vw, 6rem) + calc(var(--base-size) / 2) + 1vh);
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.balls {
    position: absolute;
}

.visible {
    opacity: 1;
}




/* open menu button -- used on all pages */
.button-placement {
    transform: translate(-50%, -50%);
    left: calc(clamp(17rem, 97vw, 97vw) - calc(var(--base-size)/2));
    top: clamp(2.5rem, 4.7vw, 6rem);
    position: absolute;
}

.menu-button {
    width: var(--base-size); /* Responsive scaling */
    height: var(--base-size);
    border-radius: 100%;
    border: 1px solid var(--primaryText);
    color: var(--primaryText);
    background-color: transparent;
    pointer-events: all;
    font: normal 400 clamp(0.7rem, 1.4vw, 2rem) "IBM Plex Sans"; /* Scalable font size */
}

.menu-button #close-icon {
    fill: var(--primaryText);
}

.menu-button:hover #close-icon {
    fill: var(--primaryBG);
}


/*Circle transition styling*/
#circle-wrapper { 
    /* z-index: -1; */
    position: absolute;
    width: 100%;
    height: calc(clamp(2.5rem, 4.7vw, 6rem) + calc(var(--base-size) / 2) + 100%);
    top: 0;
    left: 0;
}


#load-circles-here{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.menu-button-bg {
    /* z-index: -1; */
    border-radius: 50%;
    width: calc(var(--base-size) - 1px); /* Adjust for 1px border */
    height: calc(var(--base-size) - 1px);
    /* opacity: 0; */
}

    /*open menu bg*/
#open-menu-bg {
    background-color: var(--secondaryBG);
}

    /*close meny bg*/
#close-menu-bg {
    background-color: var(--primaryText);
}

.circle-pink {
    z-index: -2;
    background-color: var(--secondaryBG);
    border-radius: 50%;
    opacity: 0;
    will-change: transform, opacity;
}
.circle-white {
    z-index: -2;
    background-color: var(--primaryBG);
    border-radius: 50%;
    opacity: 0;
    will-change: transform, opacity;
}


.options-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2.9vw;
    justify-content: space-between;
    padding-top: 3%;

}

.option{
    display: flex;
    justify-content: center;
    width: max(36vw, 30vh);
    padding-inline: 1.85vw;
    margin-bottom: 2%;
    height: clamp(10rem, 19.5vw, 19.5vw);

    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow var(--default-duration) ease;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

.option-div {
    width: max(36vw, 30vh);
}

.option:hover{
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}


@media (max-width: 865px) {

    .options-wrapper {
        flex-direction: column;
        gap: 2.9vw;
        justify-content: space-between;
        align-items: center;
        padding-top: 3%;
        flex-wrap: nowrap;
        width: 100%;
    }

    .option-div {
        width: 100%;

        a {
            width: 100%;
        }
    }

    .option{
        width: 100%;
    }
}